<?xml version="1.0" encoding="UTF-8"?>
<ruleset
    name="PHP_CodeSniffer Coding Standards by brzuchal"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <ini name="memory_limit" value="512M"/>
    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <file>bin/console</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>
    <exclude-pattern>vendor/*</exclude-pattern>

    <rule ref="Brzuchal"/>

</ruleset>
